{% extends 'home/base.html' %}
{% load static %}


{% block body %}

<style>
  .button2 {
    display:block;
    float: left;
    min-width: 400px;
    max-width: 500px;
    display: block;
    margin: 0.5em;
    padding: 1em 1em;
    border: none;
    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
  }
  .button2:focus {
    outline: none;
  }
  .button2 > span {
    vertical-align: middle;
  }
  
  /* Text color adjustments (we could stick to the "inherit" but that does not work well in Safari) */
  .bg-1 .button2 {
    color: #37474f;
    border-color: #37474f;
  }
  .bg-2 .button2 {
    color: #ECEFF1;
    border-color: #ECEFF1;
  }
  .bg-3 .button {
    color: #fff;
    border-color: #fff;
  }
  
  /* Sizes */
  .button--size-s {
    font-size: 14px;
  }
  .button--size-m {
    font-size: 16px;
  }
  .button--size-l {
    font-size: 18px;
  }
  
  /* Typography and Roundedness */
  .button--text-upper {
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .button--text-thin {
    font-weight: 300;
  }
  .button--text-medium {
    font-weight: 500;
  }
  .button--text-thick {
    font-weight: 600;
  }
  .button--round-s {
    border-radius: 5px;
  }
  .button--round-m {
    border-radius: 15px;
  }
  .button--round-l {
    border-radius: 40px;
  }
  
  /* Borders */
  .button--border-thin {
    border: 1px solid;
  }
  .button--border-medium {
    border: 2px solid;
  }
  .button--border-thick {
    border: 3px solid;
  }
  
  /* Winona */
  .button--winona {
    overflow: hidden;
    padding: 0;
    -webkit-transition: border-color 0.3s, background-color 0.3s;
    transition: border-color 0.3s, background-color 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  }
  .button--winona::after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    color: #3f51b5;
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
  }
  .button--winona > span {
    display: block;
  }
  .button--winona.button--inverted {
    color: #7986cb;
  }
  .button--winona.button--inverted:after {
    color: #fff;
  }
  .button--winona::after,
  .button--winona > span {
    padding: 1em 2em;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  }
  .button--winona:hover {
    border-color: #3f51b5;
    background-color: rgba(63, 81, 181, 0.1);
  }
  .button--winona.button--inverted:hover {
    border-color: #21333C;
    background-color: #21333C;
  }
  .button--winona:hover::after {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .button--winona:hover > span {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  /* The Modal (background) */
  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {
      top: -300px;
      opacity: 0
    }

    to {
      top: 0;
      opacity: 1
    }
  }

  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0
    }

    to {
      top: 0;
      opacity: 1
    }
  }

  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }

  .modal-body {
    padding: 2px 16px;
  }

  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }


  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }

  .price {
    color: grey;
    font-size: 22px;
  }

  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .card button:hover {
    opacity: 0.7;
  }
  .modal-backdrop {
    z-index: 0;
  }
  .container2 {
    height: 200px;
    position: relative;
    
  }
  
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
</style>



<div class="container2">
  <div class="center">
  <div class="box bg-1">
		<button id="myBtn" class="button2 button--winona button--border-thin button--round-l" data-text="Uplaod new crop details"><span>Click here to uplaod new crop details</span></button>
  </div>
</div>
</div>


  <div class="row" style=" padding-left: 70px; padding-right: 70px">
    {% for some_crop in crops_added %}

        <div class="col-lg-4" id="some_crop-{{ some_crop.id }}" style=" padding-left: 25px; padding-right: 25px; margin-bottom: 150px; display: block; width: 20%; max-width:20%; padding-bottom: 50px; height:220px;  max-height:220px; min-height:220px; ">
          <img class="thumbnail" style="width: 100%; height: 90%; " src="{{ some_crop.photo.url }}">
          <div class="box-element product">
            <h6><strong>{{some_crop.crop_name}}</strong></h6>
            <h6><strong>Quantity: {{some_crop.quantity}} quaintals</strong></h6>
            
            <hr>


            {% include 'ecommerce/editModal.html' with edit_type='some_crop' %}
            
            <button style="margin-bottom: 5px;" class="btn btn-outline-secondary add-btn" href="#" data-toggle="modal" data-target="#some_crop-{{ some_crop.id }} .editModal">Edit</button>

            <form action="" method="post">
              {% csrf_token %}
              <input type="hidden" value={{ some_crop.id}} name="crop_id">
              <button class="btn btn-outline-secondary add-btn" type="submit" name="submit" value="delete_crop">Delete</button>
            </form>

            <h4 style="display: inline-block; float: right"><strong>Rs. {{some_crop.price}}</strong></h4>
            
            <hr>
          </div>
        </div>
            
    {% endfor %}
    
  </div>
            <br><br>


  <!-- The Modal -->
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <span class="close">&times;</span>
        <h3><strong>Crop Details</strong></h3>
      </div>
      <div class="modal-body">
        </br>
        <form action="" method='POST' enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-floating mb-3">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"
              integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
            <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css"
              integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />

            <label for="floatingInput">Crop Name</label>
            <select id="select-state" class="form-control" name="crop_name" placeholder="Select a crop"
              style="font-weight: bold" required>
              <option></option>
              {% for opt in crop %}
              <option>{{opt}}</option>
              {% endfor %}
            </select>
          </div>
          </br>
          <div class="form-floating mb-3">
            <label for="floatingInput">Crop Price per Quintals</label>
            <input type="text" class="form-control" name="price" id="floatingInput"
              placeholder="Crop Price per Quintals" required>

          </div>
          </br>
          <div class="form-floating mb-3">
            <label for="floatingInput">Quantity Available (in Quintals)</label>
            <input type="text" class="form-control" name="quantity" id="floatingInput"
              placeholder="Quantity Available (in Quintals)" required>

          </div>
          </br>
          <div class="form-floating mb-3">
            <label class="input-group-text" for="inputGroupFile01">Upload Crop Image</label>
            <input type="file" class="form-control" value={{crop.photo}} id="inputGroupFile01" name="photo" required>
          </div>
          </br>

      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="submit" name="submit" value="add_new_crop">Save</button>
        </form>
      </div>
    </div>

  </div>





  <script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    btn.onclick = function () {
      console.log("xxxxxxxxxxx")
      modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    $(document).ready(function () {
      $('select').selectize({
        sortField: 'text'
      });
    });
  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>

  $(document).ready(function(){
    $("#div2").fadeOut();
    $("#your_added_crops").click(function(){
      $("#div2").fadeOut();
      $("#div1").fadeIn();
    });
    $("#all_added_crops").click(function(){
      $("#div1").fadeOut();
      $("#div2").fadeIn();
    });
  });
  </script>
  {% endblock body %}