{% extends 'home/base.html' %}
{% load static %}
{% block body %}



<!-- //banner -->
<!-- a-about -->
<div class="a-grid">
	<div class="container">
		<div class="w3l-about-heading">
			<h2>About <span>Us</span></h2>
		</div>
		<div class="agileits-a-about-grids">
			<div class="col-md-5 agileits-a-about-left">
				<img src="{% static 'home/images/a1.jpg' %}" style=" height:405px; min-height:405px; max-height:405px;"alt="" />
			</div>
			<div class="col-md-7 agileits-a-about-right">
				<h3>A few words about us</h3>
				<h4>Welcome to Farm Frescio - an initiative to help farmers through every aspect of their Farming
					Journey</h4>
				<p>Farm Frescio website is a one stop solution for facilitating farmers to find a reliable buyer and
					sell their organic produce and promoting organic farming and its benefits. This portal caters
					various stakeholders like local groups, individual farmers, buyers and input suppliers. It also
					provides various models and features to help farmers solve various problems that they might face
					during their farming journey.
					<span>Farm Frescio is an E-commerce as well as a knowledge platform. Knowledge repository section of
						the portal includes latest news, various models including pest prediction, disease prediction
						and a multilingual agricultural bot to answer any and every question that might pop up during
						the hectic expedition that a farming process involves to facilitate and promote organic farming.
						E-commerce section of the portal provides the whole bouquet of products ranging from grains,
						pulses, fruits and vegetables for which Mandi API can be referred and farmers can decide the
						best price for their produce. It is also an excellent platform for buyers who can directly view
						a farmer's location and contact number and get best produce directly from the farmer thereby
						eliminating the middlemen.</span>
				</p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //a-about -->
<!-- different -->
<div class="jarallax different">
	<div class="container">
		<div class="w3-different-heading" >
			<h3>Why we are <span>different</span></h3>
		</div>
		<div class="w3agile-different-info">
			<p>Farm Frescio is an initiative designed specifically to help farmers through evry phase of their farming
				journey. It includes various features namely an e-commerce platform to facilitate easier buying and
				selling of crops at reasonable prices by eliminating the middle man, an agricultural bot to answer every
				question related to farming and other aspects and a fertiliser recommendation system to help farmers
				control the NPK values of their soil. The website also incorporates a pest predicton and disease
				prediction system to assist farmers in identifying pests and any diseases that might be affecting their
				crop. Hence, the website is a one stop solution for all farmers and aims to uplift farmers of Punjab.
			</p>
		</div>
	</div>
</div>
<!-- //different -->
<!-- team -->
<div class="team">
	<div class="container">
		<div class="agileinfo-team-heading">
			<h3>Our <span>Team</span></h3>
		</div>
		<div class="team-grids">
			<div class="col-md-3 col-xs-6 agileinfo-team-grid">
				<img src="{% static 'home/images/t1.jpg' %}" style="height: 400px; min-height:400px; max-height:400px;" alt="" />
				<div class="captn">
					<h4>Amisha</h4>
					<p>19103021 </p>
					<div class="w3l-social">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-rss"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-xs-6 agileinfo-team-grid">
				<img src="{% static 'home/images/t2.jpg' %}" style="height: 400px; min-height:400px; max-height:400px;" alt="" />
				<div class="captn">
					<h4>Naman Kumar</h4>
					<p>19103031</p>
					<div class="w3l-social">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-rss"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-xs-6 agileinfo-team-grid">
				<img src="{% static 'home/images/t3.jpg' %}" style="height: 400px; min-height:400px; max-height:400px;" alt="" />
				<div class="captn">
					<h4>Navya Aggarwal</h4>
					<p>19103126</p>
					<div class="w3l-social">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-rss"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-xs-6 agileinfo-team-grid">
				<img src="{% static 'home/images/t4.jpg' %}" style="height: 400px; min-height:400px; max-height:400px;" alt="" />
				<div class="captn">
					<h4>Ashutosh</h4>
					<p>19103120</p>
					<div class="w3l-social">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-rss"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //team -->

<!--
	<div class="copyright">
		<div class="container">
			<p>© 2017 Harvest Life . All Rights Reserved | Design by <a href="http://w3layouts.com/"> W3layouts</a> </p>
		</div>
	</div>-->
<!-- //copyright -->
<script src="js/SmoothScroll.min.js"></script>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<!-- here stars scrolling icon -->
<script type="text/javascript">
	$(document).ready(function () {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
			};
		*/

		$().UItoTop({ easingType: 'easeOutQuart' });

	});
</script>
<!-- //here ends scrolling icon -->
<!-- parallax -->
<script src="js/jarallax.js"></script>
<script type="text/javascript">
	/* init Jarallax */
	$('.jarallax').jarallax({
		speed: 0.5,
		imgWidth: 1366,
		imgHeight: 768
	})
</script>

<script
	type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--// bootstrap-css -->
<!-- css -->
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<!--// css -->
<!-- font-awesome icons -->
<link href="css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome icons -->
<!-- font -->
<link href="//fonts.googleapis.com/css?family=Playball&amp;subset=latin-ext" rel="stylesheet">
<link
	href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300'
	rel='stylesheet' type='text/css'>
<!-- //font -->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function ($) {
		$(".scroll").click(function (event) {
			event.preventDefault();
			$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
		});
	});
</script>

{% endblock %}