{% extends 'home/base.html' %}
{% load static %}
{% block body %}


<!-- //banner -->
<div class="about-heading">
	<div class="container">
		<h2>Contact</h2>
	</div>
</div>
<!-- contact -->
<div class="contact">
	<div class="container">
		<div class="agile-contact-form">
			<div class="col-md-6 contact-form-left">
				<div class="w3layouts-contact-form-top">
					<h3>Get in touch</h3>
					<p>Email or call us with any questions or inquiries. We would be happy to answer your questions and
						settle all doubts.</p>
				</div>
				<div class="agileits-contact-address">
					<ul>
						<li><i class="fa fa-phone" aria-hidden="true"></i> <span>+91 8847390611</span></li>
						<li><i class="fa fa-phone fa-envelope" aria-hidden="true"></i> <span><a
									href="mailto:frescio.farm@gmail.com">frescio.farm@gmail.com</a></span></li>
						<li><i class="fa fa-map-marker" aria-hidden="true"></i> <span>Punjab Engineering College
								(PEC)</span></li>
					</ul>
				</div>
			</div>
			<div class="col-md-6 contact-form-right">
				<div class="contact-form-top">
					<h3>Send us a message</h3>
				</div>
				<div class="agileinfo-contact-form-grid">
					<form action="#" method="post">
						<input type="text" name="Name" placeholder="Name" required="">
						<input type="email" name="Email" placeholder="Email" required="">
						<input type="text" name="Telephone" placeholder="Telephone" required="">
						<textarea name="Message" placeholder="Message" required=""></textarea>
						<button class="btn1">Submit</button>
					</form>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>

		<div class="w3agile-map w3layouts-contact-form-top">
			<h3>Find us here : </h3>
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3428.293168031035!2d76.78123371497635!3d30.76635028162546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ff281cf557ef9%3A0x2497dfdff5122b78!2sPEC%20CAMPUS%2CCHANDIGARH!5e0!3m2!1sen!2sin!4v1618482001820!5m2!1sen!2sin"
				allowfullscreen></iframe>
		</div>
	</div>
</div>

<script
	type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->

<link href="{% static 'home/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<!--// bootstrap-css -->
<!-- css -->
<link rel="stylesheet" href="{% static 'home/css/style.css' %}" type="text/css" media="all" />
<!--// css -->
<!-- font-awesome icons -->
<link href="{% static 'home/css/font-awesome.css' %}" rel="stylesheet">
<!-- //font-awesome icons -->
<!-- font -->
<link href="//fonts.googleapis.com/css?family=Playball&amp;subset=latin-ext" rel="stylesheet">
<link
	href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300'
	rel='stylesheet' type='text/css'>
<!-- //font -->
<script src="{% static 'home/js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'home/js/bootstrap.js' %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function ($) {
		$(".scroll").click(function (event) {
			event.preventDefault();
			$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
		});
	});
</script>
<script src="{% static 'home/js/SmoothScroll.min.js' %}"></script>
<script type="text/javascript" src="{% static 'home/js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'home/js/easing.js' %}"></script>
<!-- here stars scrolling icon -->
<script type="text/javascript">
	$(document).ready(function () {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
			};
		*/

		$().UItoTop({ easingType: 'easeOutQuart' });

	});
</script>
<!-- //here ends scrolling icon -->
{% endblock %}